@import url('https://fonts.googleapis.com/css?family=Aldrich');

#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: center / cover repeat url('../images/bg03i.jpg');
  z-index: -1;
}

#blue-chip-logo, #blue-chip-logo img {
    margin: auto auto;
    text-align: center;
    padding: 12px;
    max-height: 50vh;
    max-width: 100%;
}


#blue-chip-text {
    font-family: Aldrich,sans-serif;
    font-size: 3.25em;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
}

#mobile-title {
    position: absolute;
    top: 10px;
    height: 40px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

@media (max-width: 576px) {
    #mobile-title {
        top: 16px;
        font-size: 1.2rem;
    }
}

@media (max-width: 476px) {
    #mobile-title {
        top: 19px;
        margin-left: 38px;
        font-size: 1rem;
    }
}

@media (max-width: 376px) {
    #mobile-title {
        top: 20px;
        margin-left: 40px;
        font-size: 0.8rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 8px;
    text-align: center;
}

h4, h5, h6 {
    margin-top: -8px;
    padding-bottom: 4px;
    font-style: italic;
}

.navbar-nav {
    font-size: 0.95em;
}

body {
    background-color: #000010;
    font-size: 1.2em;
    line-height: 1.2em;
}

p {
    margin: 8px;
}

.row {
    margin-top: 12px;
}

.rounded {
    border-radius: 16px !important;
}

.smalltext {
    font-size: 0.9em;
    line-height: 1.25em;
}

.datacenter-content {
    background-color: rgba(43, 48, 77, 0.85);
    color: #FFFFFF;
    padding: 0 4px;
    border-radius: 16px;
}
.graph {
    background-color: #FFFFFF;
}
.justify-paragraph {
    /*text-align:justify;*/
}
